node_modules
vendor
.git
.env
.env.backup
.env.production
storage/*.key
bootstrap/ssr
public/build
public/hot
public/storage
.phpunit.cache
.phpunit.result.cache
.idea
.vscode
.fleet
.nova
.zed
.DS_Store
npm-debug.log
yarn-error.log
